.textarea-container {
    margin-top: 18px;
  }
  
  .textarea-container textarea {
    width: calc(100% - 16px);
    height: 60px;
    padding: px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    margin-left: 8px;
    margin-right: 8px;
  }
  