.ideas-table-container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 0px;
  border-radius: 8px;
}

.buttons-container {
  margin-bottom: 8px;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  margin: 12px;
  padding-right: 16px;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px 16px;
}

/* Set width for the first column */
.table-container th:first-child,
.table-container td:first-child {
  width: 50px; /* Adjust width as necessary for two-digit numbers */
  text-align: center;
}

/* Left-align content in the second column */
.table-container th:nth-child(2),
.table-container td:nth-child(2) {
  text-align: left;
}

.table-container th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-container tr:hover {
  background-color: #f9f9f9;
}

.label-container {
  font-weight: bold;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.textarea-container {
  margin-top: 18px;
}

.textarea-container textarea {
  width: calc(100% - 16px);
  height: 60px;
  padding: px;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  margin-left: 8px;
  margin-right: 8px;
}
