.interaction-college-list-pane {
    width: 250px;
    padding: 16px;
    overflow-y: auto;
}

.accordion-header {
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.accordion-title {
    flex-grow: 1;
}

.accordion-icon {
    display: flex;
    align-items: center;
}

.accordion-header.active {
    color: #0078d4;
}